body
{
background-image: url("gentlemen.webp");
background-size: cover;
background-attachment: fixed;
text-align: center;
font-size: 17px;
font-style: Sans-serif;
font-family: Times New Roman;
color: #b80505;
	-webkit-text-stroke: 1px #090909;
	text-shadow: 0px 2px 4px rgb(195, 5, 5);
}

h2
{
	color: rgb(240, 228, 3);
	-webkit-text-stroke: 1px #090900;
	text-shadow: 0px 2px 4px rgb(5, 5, 5);
}

h3
{
    color: #b80505;
	-webkit-text-stroke: 1px #090909;
	text-shadow: 0px 2px 4px rgb(195, 5, 5);
}

h4
{
  color: rgb(5, 5, 5);
	-webkit-text-stroke: 1px #000000;
	text-shadow: 0px 2px 4px rgb(242, 242, 12);  
}

ol,li
{
display:inline-block;
text-align: center;

color: rgb(5, 5, 5);
	-webkit-text-stroke: 1px #000000;
	text-shadow: 0px 2px 4px rgb(242, 242, 12);
}
