body
{
background-image: url("gentlemen.webp");
background-size: cover;
background-attachment: fixed;
text-align: center;
font-size: 17px;
font-style: Sans-serif;
font-family: Times New Roman;
color: #b80505;
	-webkit-text-stroke: 1px #090909;
	text-shadow: 0px 1px 1px rgb(195, 5, 5);
}

h2
{
    color: rgb(226, 5, 5);
	-webkit-text-stroke: 2px rgb(3, 3, 0); 
	text-shadow: 0px 1px 1px #0b0b0b;
}

h3
{
    color: #b80505;
	-webkit-text-stroke: 1px #090909;
	text-shadow: 0px 1px 1px rgb(195, 5, 5);
}

h4
{   color: rgb(141, 4, 111);
	-webkit-text-stroke: 1px #a707a7;
	text-shadow: 2px 3px 4px rgb(242, 242, 12);  
}

ol,li
{
display:inline-block;
text-align: center;
color: rgb(141, 4, 111);
-webkit-text-stroke: 2px #930455;
text-shadow: 0px 2px 4px rgb(242, 242, 12);
}
.frame-border
{
  border-radius: 35px 35px 20px 20px;

}